<div class="row">
 
     <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item"><a href="#"><%= link_to 'Modifier mon profil', edit_user_registration_path %></a></li>
          <li class="breadcrumb-item active"><%= link_to 'Voir mon profil', user_path(current_user.id) %></li>
    </ol>
       <div class="col-md-12">
           <h2><%= @user.fullname %></h2>
           <p>Adresse e-mail : <%= @user.email %> </p>
           <p>Numéro de téléphone : <%= @user.phone_number %> </p>
           <p>Description : <%= @user.description %> </p>
            <%= image_tag avatar_url(@user), class: "avatar-full" %>
                  
        </div>
           
            
 
 </div>