<div class="row">
    
    <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><%= link_to "Mes annonces", rooms_path %></a></li>
          <li class="breadcrumb-item"><a href="#"><%= link_to "Mes réservations", your_reservations_path %></a></li>
          <li class="breadcrumb-item active"><%= link_to "Mes voyages", your_trips_path %></li>
    </ol>
    
    
<div class="col-md-12">
    <% @rooms.each do |room| %>
    <% room.reservations.order("id DESC").each do |reservation| %>
        <div class="card" style="width: 20rem;border: 1px solid gray;padding: 10px;display: inline-block;text-align:center;">
        <div style="width:100%">
          <%= link_to room_path(reservation.room) do %>
            <%= image_tag reservation.room.photos[0].image.url(:thumb) if reservation.room.photos.length > 0 %>
          <% end %>  
        </div>    
    
          <div class="card-block">
            <h4 class="card-title">Du <%= reservation.start_date.strftime('%d.%m.%y') %> au <%= reservation.end_date.strftime('%d.%m.%y') %></h4>
            <p class="card-text"><h5>Prix :<%= reservation.total %> €</h5></p>
            <p class="card-text"><%= link_to user_path(reservation.room.user) do %>
                           <%= image_tag avatar_url(reservation.user), class:"img-circle avatar-medium" %>
                       <% end %></p>
          </div>
        </div> 
    <% end %>
    <% end %>
</div>


</div>