<div class="row">
    <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><%= link_to "Mes annonces", rooms_path %></a></li>
          <li class="breadcrumb-item"><a href="#"><%= link_to "Mes réservations", your_reservations_path %></a></li>
          <li class="breadcrumb-item active"><%= link_to "Historique", your_trips_path %></li>
    </ol>
    
    
    <div class="col-md-12">
    <% @trips.order("id DESC").each do |trip| %>
    
        <div class="card" style="width: 20rem;border: 1px solid gray;padding: 10px;display: inline-block;text-align:center;">
        <div style="width:100%">
          <%= link_to room_path(trip.room) do %>
            <%= image_tag trip.room.photos[0].image.url(:thumb) if trip.room.photos.length > 0 %>
          <% end %>  
        </div>    
    
          <div class="card-block">
            <h4 class="card-title">Du <%= trip.start_date.strftime('%d.%m.%y') %> au <%= trip.end_date.strftime('%d.%m.%y') %></h4>
            <p class="card-text"><h5>Prix :<%= trip.total %> €</h5></p>
            <p class="card-text">
                <%= link_to user_path(trip.room.user) do %>
                           <%= image_tag avatar_url(trip.room.user), class:"img-circle avatar-medium" %>
            <% end %>
            </p>
          </div>
        </div> 
    <% end %>
</div>
    
    
    
    
    
    
               
</div>